body{
    margin:auto;
    min-width: 480px;
    max-width: 599px;
}

header {
    display:flex;
    width: 100%;
    height:75px;
    justify-content: center;
    align-items: center;
}


aside {
    display:flex;
    width: 100%;
    height:150px;
    justify-content: center;
    align-items: center;
}
aside p {
    display: inline-block;
}

#one {
    height:250px;
}
article {
    display:flex;
    width: 100%;
    height:125px;
    justify-content: center;
    align-items: center;
}

#two {
    height: 500px;
}
div {
    float: left;
    width:50%;
    height:250px;
    display:flex;
    justify-content: center;
    align-items: center;
}

footer {
    display:flex;
    width: 100%;
    height:80px;
    justify-content: center;
    align-items: center;
}

@media (min-width:600px){
    body{
        max-width: 960px;
    }
    header {
        background-color: rgb(182, 166, 113);
        width: 100%;
        height:100px;
       
    }
    aside {
        display:flex;
        float:left;
        width: 20.833%;
        height:600px;
    }
    #one {
        height:200px;
    }
    article {
        display:flex;
        float:left;
        width: 39.5833%;
        height:200px;
    }
    
    div {
        float: left;
        width:19.791667%;
        height:250px;
        display:flex;
    }
    #two {
        height: 250px;
    }
    
    footer {
        width: 79.1667%;
        height:150px;
    }

}